* {
	font-family: 'Roboto', sans-serif;
}

html, body {
	background-color: #161F4D;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#app {
	position: absolute;
	width: 100%;
	max-width: 900px;
	height: 95%;
	margin: auto;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	bottom: 0;
	background-color: #F0F2F7;
	box-shadow: 0 3px 100px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

.wrapper {
	width: 77%;
	height: 100%;
	margin: auto;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 28px;
	font-weight: bold;
}

h2 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: normal;
	color: #A2A2A2;
}

#title-container {
	margin-top: 50px;
	margin-bottom: 25px;
	display: flex;
}

#title-text-container {
	z-index: 5;
}

#lists-container {
	margin-left: -40px;
	padding: 0 40px;
	height: calc(100% - 260px);
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: scroll;
}

#lists-wrapper {
	overflow: visible;
}

#add-list-container {
	height: 130px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: white;
	box-shadow: 0 3px 50px rgba(0, 0, 0, 0.16);
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#add-list-container a {
	padding: 15px 0;
	width: 77%;
	text-align: center;
	background-color: #3D4BCD;
	color: white;
	text-decoration: none;
	border-radius: 20px;
	box-shadow: 0 20px 50px rgba(69, 60, 201, 0.5);
	font-size: 18px;
	font-weight: bold;
}

.delete {
	width: 25px;
	height: 25px;
	background-color: white;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	opacity: 0;
}

.delete i {
	font-size: 14px;
	color: #E61313;
}

.task:hover > .delete {
	opacity: 1;
}

/* -------- LISTS -------- */
.list {
	display: flex;
	align-items: center;
	background-color: #3FA2FC;
	color: white;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	padding: 15px 20px;
	border-radius: 20px;
	box-shadow: 0 20px 50px rgba(63, 162, 252, 0.3);
}

.list:hover > .delete {
	opacity: 1;
}

.list:hover {
	cursor: pointer;
}

.list + .list {
	margin-top: 15px;
}

.modal-container {
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	/* backdrop-filter: blur(5px); */
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
	width: 100%;
	height: 100%;
}

.modal {
	text-align: center;
	max-width: 400px;
	padding: 40px;
	background-color: white;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center
}

.modal-buttons {
	margin-top: 20px;
}

.modal-buttons button {
	padding: 15px 0;
	width: 130px;
	background-color: #3D4BCD;
	color: white;
	border: none;
	border-radius: 20px;
	box-shadow: 0 20px 50px rgba(69, 60, 201, 0.5);
	font-size: 18px;
	font-weight: bold;
	outline: none;
}

.modal-buttons button + button {
	margin-left: 10px;
}

/* -------- TASKS -------- */
#list-code {
	color: #3FA2FC;
}

#back-button {
	align-items: center;
	justify-content: center;
	display: flex;
	background-color: #3FA2FC;
	width: 50px;
	margin-right: 15px;
	text-decoration: none;
	border-radius: 10px;
	box-shadow: 0 20px 50px rgba(63, 162, 252, 0.3);
	cursor: pointer;
	z-index: 1;
}

#back-button i {
	color: white;
	font-size: 20px;
}

.task {
	display: flex;
	align-items: center;
	background-color: white;
	color: black;
	font-size: 18px;
	font-weight: bold;
	padding: 0px 20px;
	border-radius: 20px;
	box-shadow: 0 20px 50px rgba(157, 157, 157, 0.4);
}

.task + .task {
	margin-top: 15px;
}

/* Checkbox */
.checkbox-container {
	display: block;
	position: relative;
	padding: 15px 0;
	padding-left: 30px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 100%;
	cursor: pointer;
}

.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 18px;
	left: 0;
	height: 14px;
	width: 14px;
	border-radius: 4px;
	border: 2px solid black;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }

.checkbox-container input:checked ~ .checkmark:after {
	display: block;
  }

.checkbox-container .checkmark:after {
	left: 4px;
	top: 0px;
	width: 3px;
	height: 10px;
	border: solid black;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }
  