* {
	font-family: 'Roboto', sans-serif;
}

html, body {
	background-color: #161F4D;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#app {
	position: absolute;
	width: 100%;
	max-width: 900px;
	height: 95%;
	margin: auto;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	bottom: 0;
	background-color: #F0F2F7;
	box-shadow: 0 3px 100px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

.wrapper {
	width: 77%;
	height: 100%;
	margin: auto;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 28px;
	font-weight: bold;
}

h2 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: normal;
	color: #A2A2A2;
}

#title-container {
	margin-top: 50px;
	margin-bottom: 25px;
}

#lists-container {
	margin-left: -40px;
	padding: 0 40px;
	height: calc(100% - 260px);
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: scroll;
}

#lists-wrapper {
	overflow: visible;
}

.list + .list {
	margin-top: 15px;
}

#add-list-container {
	height: 130px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: white;
	box-shadow: 0 3px 50px rgba(0, 0, 0, 0.16);
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#add-list-container a {
	padding: 15px 0;
	width: 77%;
	text-align: center;
	background-color: #3D4BCD;
	color: white;
	text-decoration: none;
	border-radius: 20px;
	box-shadow: 0 20px 50px rgba(69, 60, 201, 0.5);
	font-size: 18px;
	font-weight: bold;
}

/* -------- LISTS -------- */
.list {
	display: flex;
	align-items: center;
	background-color: #3FA2FC;
	color: white;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	padding: 15px 20px;
	border-radius: 20px;
	box-shadow: 0 20px 50px rgba(63, 162, 252, 0.3);
}

/* -------- TASKS -------- */
.task {
	display: flex;
	align-items: center;
	background-color: white;
	color: black;
	font-size: 18px;
	font-weight: bold;
	padding: 15px 20px;
	border-radius: 20px;
	box-shadow: 0 20px 50px rgba(157, 157, 157, 0.4);
}

.task input {
	margin-right: 10px;
}