<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Todo, inc - Extremely simple TODO list </title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	{% load static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<div id="app">
		<div class="wrapper">
			<div id="title-container">
				<h1>{{ list.name }} #{{ list.code }}</h1>
				<h2>{{ tasks|length }} task(s)</h2>
			</div>

			<div id="lists-container">
				<div id="lists-wrapper">
					{% for task in tasks %}
						<div class="task {% if task.completed %}completed{% endif %}">
							<label class="checkbox-container" for="checkbox-{{task.id}}">{{ task.name }}
								<input type="checkbox" id="checkbox-{{task.id}}" {% if task.completed %}checked{% endif %}/>
								<span class="checkmark"></span>
							</label>
						</div>
					{% endfor %}
				</div>
			</div>

			<div id="add-list-container">
				<a href="javascript:addTask();">+ Add task</a>
			</div>
		</div>
	</div>

	<script>
		function addTask() {
			let taskName = prompt('What task would you like to add?');
			fetch('../api/tasks/', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					name: taskName,
					code: '{{ list.code }}'
				})
			})
			.then(r => {
				window.location.reload();
			});
		}
	</script>
</body>
</html>