<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Todo, inc - Extremely simple TODO list </title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	{% load static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<div id="app">
		<div class="wrapper">
			<div id="title-container">
				<h1>Todo, inc</h1>
				<h2>My lists</h2>
			</div>

			<div id="lists-container">
				<div id="lists-wrapper">
					<a class="list" href="#">Things to do today</a>
					<a class="list" href="#">Things to do today</a>
				</div>
			</div>

			<div id="add-list-container">
				<a href="#">Add list</a>
			</div>
		</div>
	</div>
</body>
</html>