<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tasky - Extremely simple TODO list </title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	{% load static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
	<div id="app">
		<div class="wrapper">
			<div id="title-container">
				<a id="back-button" href="../">
					<i class="fas fa-arrow-left"></i>
				</a>
				<div id="title-text-container">
					<h1>{{ list.name }} #<span id="list-code">{{ list.code }}</span></h1>
					<h2>{{ tasks|length }} task(s)</h2>
				</div>
			</div>

			<div id="lists-container" data-aos="fade-up">
				<div id="lists-wrapper">
					{% for task in tasks %}
						<div class="task">
							<label id="checkbox-{{task.id}}-label" class="checkbox-container" for="checkbox-{{task.id}}" {% if task.completed %}style="text-decoration: line-through"{% endif %}>{{ task.name }}
								<input class="task-checkbox" type="checkbox" id="checkbox-{{task.id}}" {% if task.completed %}checked{% endif %}/>
								<span class="checkmark"></span>
							</label>
							<a class="delete" href="javascript:deleteTask('{{task.id}}');" onclick="event.stopPropagation();"><i class="far fa-trash-alt"></i></a>
						</div>
					{% endfor %}
				</div>
			</div>

			<div id="add-list-container">
				<a href="javascript:addTask();">+ Add task</a>
			</div>
		</div>
	</div>

	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
		AOS.init();
		// Remove list from cookie
		function deleteTask(taskId) {
			let wantDelete =  confirm('Are you sure you want to delete this task?');
			if(!wantDelete) return;
			fetch('../api/tasks/' + taskId, {
				method: 'DELETE',
				header: {
					'Content-Type': 'application/json'
				}
			}).then(r => {
				window.location.reload();
			});
		}

		function addTask() {
			let taskName = prompt('What task would you like to add?');
			if(!taskName) return;
			fetch('../api/tasks/', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					name: taskName,
					code: '{{ list.code }}'
				})
			})
			.then(r => {
				window.location.reload();
			});
		}

		Array.prototype.forEach.call(document.getElementsByClassName('task-checkbox'), checkBox => {
			checkBox.addEventListener('change', function() {
				fetch('../api/tasks/' + checkBox.id.replace('checkbox-', '') + '/complete');
				labelId = checkBox.id + '-label';
				document.getElementById(labelId).style.textDecoration = checkBox.checked ? 'line-through' : 'none';
			});
		});
	</script>
	<script src="https://kit.fontawesome.com/9b8ac2b2e4.js" crossorigin="anonymous"></script>
</body>
</html>