<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tasky - Extremely simple TODO list </title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	{% load static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
	<div class="modal-container" id="modal-1">
		<div class="modal">
			<p>Would you like to create a new list or use code to add an existing one?</p>
			<div class="modal-buttons">
				<button onclick="newList();">New list</button>
				<button onclick="useCode();">Use code</button>
			</div>
		</div>
	</div>

	<div id="app">
		<div class="wrapper">
			<div id="title-container">
				<div id="title-text-container">
					<h1>Tasky</h1>
					<h2>My lists</h2>
				</div>
			</div>

			<div id="lists-container" data-aos="fade-up">
				<div id="lists-wrapper">
					{% for list in lists %}
						<div class="list list-{%if forloop.counter|add:2|divisibleby:4%}2{%endif%}{%if forloop.counter|add:1|divisibleby:4%}3{%endif%}{%if forloop.counter|add:4|divisibleby:4%}4{%endif%}" onclick="document.location.href = '/lists/{{list.code}}'">
							{{ list.name }}
							<a class="delete" href="javascript:deleteList('{{list.code}}');" onclick="event.stopPropagation();"><i class="far fa-trash-alt"></i></a>
						</div>
					{% endfor %}
				</div>
			</div>

			<div id="add-list-container">
				<a href="javascript:toggleModal('modal-1');">Add list</a>
			</div>
		</div>
	</div>

	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
		AOS.init();
		var addedCodes = JSON.parse(getCookie('codes'));

		// Show or hide modal
		function toggleModal(modalName) {
			displayProperty = getComputedStyle(document.getElementById(modalName), null).display;
			if(displayProperty !== 'none')
				document.getElementById(modalName).style.display = 'none';
			else
				document.getElementById(modalName).style.display = 'flex';
		}

		// Send a request and create a new list
		// Take the code of created list and add it to cookie
		function newList() {
			toggleModal('modal-1');
			let listName = prompt('How do you want to name your list?');
			if(!listName) return false;
			fetch('./api/lists/', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					name: listName
				})
			}).then(response => response.json())
			.then(response => {
				let code = response['code'];
				addCookieCode(code);
				window.location.href = './' + code;
			});
		}

		// Use existing list's code
		// Add to cookie
		function useCode() {
			toggleModal('modal-1');
			let code = prompt('What\'s the 4-digit code of your list?');
			if(!code) return false;
			addCookieCode(code);
			window.location.reload();
		}

		// Remove list from cookie
		function deleteList(code) {
			let wantDelete =  confirm('Are you sure you want to delete this list? You will be able to access it again through its code.');
			if(!wantDelete) return false;
			removeCookieCode(code);
			window.location.reload();
			/* fetch('./api/lists/' + code, {
				method: 'DELETE',
				header: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					code: code
				})
			}).then(r => {
				window.location.reload();
			}); */
		}

		// Cookies logic
		function getCookie(c_name) {
			if (document.cookie.length > 0) {
				c_start = document.cookie.indexOf(c_name + "=");
				if (c_start != -1) {
					c_start = c_start + c_name.length + 1;
					c_end = document.cookie.indexOf(";", c_start);
						if (c_end == -1) {
							c_end = document.cookie.length;
						}
					return unescape(document.cookie.substring(c_start, c_end));
				}
			}
			return "[]";
		}

		function addCookieCode(code) {
			addedCodes.push(code);
			document.cookie = "codes=" + JSON.stringify(addedCodes);
		}

		function removeCookieCode(code) {
			addedCodes = addedCodes.filter(e => e !== code);
			document.cookie = "codes=" + JSON.stringify(addedCodes);
		}
	</script>
	<script src="https://kit.fontawesome.com/9b8ac2b2e4.js" crossorigin="anonymous"></script>
</body>
</html>